.titulos_formularios {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #E0DFE3;
	font-weight: bold;
	font-size: 14px;
	text-align: right;
}

.datos_formularios {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 12px;
}

.encabezado_formularios {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #E0DFE3;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
}
