#demoIzq, #demoDer, #demoMed, #demoDerDer ,#demoDerDerDer  { border:1px dashed; width:150px; background-color:#EAEAEA; text-align:center; margin:0 1px 0 1px; }

#demoDer, #demoMed, #demoDerDer ,#demoDerDer { float:right; }

select { width:100px; }